.text{
	width: 960px;
	margin: 20px auto;

}

.text h2{
	color: green;
	margin-left: 40px;
}

.text span{
	margin-left: 30px;
}

.text iframe{
	margin-left: 50px;
	margin-bottom: 50px;
}

.text ul{
	margin-left: 50px;
	margin-bottom: 20px;
}