<!DOCTYPE HTML>
<html lang="en-US">
<head>
<title>Delphic</title>
<meta charset="UTF-8">
<link rel="stylesheet" type="text/css" href="/static/style.css" media="all" />
<link rel="stylesheet" type="text/css" href="/static/style/css/style_about.css" media="all" />
<!--[if IE 7]><link rel="stylesheet" type="text/css" href="/static/style/css/ie7.css" media="all" /><![endif]-->

</head>
<body>
<div id="container">
  <!-- Begin Header Wrapper -->
  <div id="page-top">
    <div id="header-wrapper">
      <!-- Begin Header -->
      <div class="header">
          <div id="header">
            <div id="logo"><a href="index.html"><img src="/static/style/images/logo().png" alt="" style="  margin-top: 17px;"  /></a></div>
                <div class="logo_text">
                  <h1> Продаж нерухомості</h1>
                  <h1> в Хмельницькому</h1>
                </div>

                <div class="header-contacts">
                  <span>Контакты</span> 
                  <div class="phone">
                    <i></i>
                    <span>(098)</span> 233 70 00
                  </div>
                  <a href="#" class="order-call trans-opacity js_popup">замовити зворотній дзвінок</a><br>
                  <a href="#" class="skype">
                    <i></i>Kyivagent
                  </a>
                </div>
          </div>
        <!-- Logo -->
        <!-- Begin Menu -->
         <div id="menu-wrapper">
         <div class="iner">   
            <ul>
              <li><a href="/about/" class="selected">Про нас</a></li>
              <li><a href="/poslugi/">Послуги агенції</a></li>
              <li><a href="/">Пошук нерухомості</a></li>
              <li><a href="/karta/">Знайти на мапі</a></li>
              <li><a href="/contacts/">Контакти</a></li>
            </ul>
          </div>      
        <!-- End Menu -->
         </div>
      </div>
      <!-- End Header -->
    </div>
  </div>
  </div>
  <!-- End Header Wrapper -->

  <!-- End Wrapper -->
 
  <div class="text">
  <h2>Про компанію</h2>
    <p>Агентство нерухомості "Київське передмістя" досить молода, що динамічно розвивається.
На сьогоднішній день компанія оперує широкою базою даних об'єктів нерухомості в Києві та області, яка поповнюється щодня. Великий вибір варіантів дозволяє нам пропонувати кожному нашому клієнту оптимальні для нього рішення при покупці, або продажу квартир та комерційної нерухомості.
Ми надаємо стандартні професійні послуги в сфері купівлі та продажу нерухомості, а також приділяємо особливу увагу задоволенню потреб замовника з максимальною відповідальністю
Крім ексклюзивної бази даних, агентство нерухомості «Київське передмістя» пропонує своїм клієнтам також фотоматеріали об'єктів нерухомості, які дозволять самостійно оцінити безліч варіантів купівлі апартаментів, престижних багатокімнатних квартир, або іншої недорогої нерухомості. Також наша компанія пропонує для своїх клієнтів купити дачу, котедж, будинок, земельну ділянку під забудову, будь-які види комерційної нерухомості.
Ми завжди пропонуємо клієнтам досвід наших працівників, стабільно високу якість і надійність послуг, професіоналізм усієї команди компанії «Київське передмістя» у вирішенні комплексів питань, які присутні при операціях з нерухомістю.</p>

<h2>Наша компанія</h2>
<p>Сьогодні колектив компанії «Київське передмістя» - це єдина команда професіоналів та однодумців, в якій йдуть паралельно відданість спільній справі та індивідуальне прагнення до самореалізації.
Ми впевнені, що успіх кожного працівника нашої команди - це успіх всієї компанії. Тому керівництво агентства нерухомості «Київське передмістя» завжди йде усім працівникам на зустріч і прагне забезпечити кожному співробітнику оптимальні умови праці та можливості для професійного зростання.</p>


<h2>Наша місія</h2>
<p>Надання високопрофесійних ріелторських послуг, що гарантують клієнтові максимальну ефективність і безпеку його операцій з нерухомістю, а також зусилля, спрямовані на розширення кола клієнтів і встановлення з ними партнерських відносин, які дозволять кожному нашому клієнту рекомендувати послуги агентства нерухомості «Київське передмістя» своїм близьким і колегам.
Головним принципом нашої роботи є турбота та індивідуальний підхід до кожного клієнта. Наша команда гарантує Вам професійний підхід, ідеальний перебіг фінансової операції, спокій та надійність</p>

<h2>Ділова етика</h2>
<p>Всі співробітники компанії «Київське передмістя» керуються у своїй роботі основними принципами, які були прийняті в нашому колективі:
Взаємна повага, довіра і підтримка
Орієнтація на клієнта
Командна робота і націленість на загальний результат
Постійне навчання і розвиток
Оцінка за особистим трудовому внеску
Дотримання єдиних корпоративних стандартів</p>



  </div>

        





    




 <div class="clearfix"></div> 
  
  <div id="pushh">
    <div class="iner">
 
     <div class="fleft ">
          <a href="#" class="fleft logofoot"></a>
          <div class="fleft sepleft"></div>
         
                <div class="fleft footer-contacts">
                  <div class="title">Безкоштовна бронь</div>
             
                  <div class="phone">
                    <i></i>
                    <span>(098)</span> 233 70 00
                  </div>

                  <a href="#" class="order-call trans-opacity js_popup">Замовити зворотній двінок</a>
                  <a href="#" class="skype">
                    <i></i>Kyivagent</a>
               </div>

         <div class="fleft sepleft"></div>
           <div class="fleft footer-menu">
                <ul>
                  <li><a href="#">Для агенцій</a></li>
                  <li><a href="#">Для партнерів</a></li>
                  <li><a href="#">Як забронювати</a></li>
                  <li><a href="#">Публічна оферта</a></li>
                  <li><a href="#">Положення про конфеденційність</a></li>
                  <li><a href="#">Правила та умови</a></li>
                </ul>
            </div>

          <div class="fleft sepleft"></div>
            <div class="fleft footer-about">
                  <ul>
                    <li><a href="#">Про нас</a></li>
                    <li><a href="#">Контакти</a></li>
                    <li><a href="#">Знайти на мапі</a></li>
                  </ul>
                  <a href="#" class="soclink vk trans-opacity"></a>
                  <a href="#" class="soclink odno trans-opacity"></a>
                  <a href="#" class="soclink face trans-opacity"></a>
            </div>      
        </div>
    </div>
</div>






  <!-- Begin Footer -->
  <div id="footer-wrapper">
    <div id="footer">
      <div id="footer-content">
        <!-- Begin Copyright -->
        <div id="copyright">
          <p>Copyright &copy; Ivan Kozachok & Taya Loran & Dima Dzubiy</p>
        </div>
        <!-- End Copyright -->
        <!-- Begin Social Icons -->
            <div id="socials">
              <ul>
                <li><a href="#"><img src="/static/style/images/icon-rss.png" alt="" /></a></li>
                <li><a href="#"><img src="/static/style/images/icon-twitter.png" alt="" /></a></li>
                <li><a href="#"><img src="/static/style/images/icon-dribble.png" alt="" /></a></li>
                <li><a href="#"><img src="/static/style/images/icon-tumblr.png" alt="" /></a></li>
                <li><a href="#"><img src="/static/style/images/icon-flickr.png" alt="" /></a></li>
                <li><a href="#"><img src="/static/style/images/icon-facebook.png" alt="" /></a></li>
              </ul>
            </div>
        <!-- End Social Icons -->
      </div>
    </div>
  </div>
  <!-- End Footer -->
</div>
</body>
</html>