<!DOCTYPE HTML>
<html lang="en-US">
<head>
<title>Delphic</title>
<meta charset="UTF-8">
<link rel="stylesheet" type="text/css" href="/static/style.css" media="all" />
<link rel="stylesheet" type="text/css" href="/static/style/css/style_about.css" media="all" />
<!--[if IE 7]><link rel="stylesheet" type="text/css" href="/static/style/css/ie7.css" media="all" /><![endif]-->

</head>
<body>
<div id="container">
  <!-- Begin Header Wrapper -->
  <div id="page-top">
    <div id="header-wrapper">
      <!-- Begin Header -->
      <div class="header">
          <div id="header">
            <div id="logo"><a href="index.html"><img src="/static/style/images/logo().png" alt="" style="  margin-top: 17px;"  /></a></div>
                <div class="logo_text">
                  <h1> Продаж нерухомості</h1>
                  <h1> в Хмельницькому</h1>
                </div>

                <div class="header-contacts">
                  <span>Контакты</span> 
                  <div class="phone">
                    <i></i>
                    <span>(098)</span> 233 70 00
                  </div>
                  <a href="#" class="order-call trans-opacity js_popup">замовити зворотній дзвінок</a><br>
                  <a href="#" class="skype">
                    <i></i>Kyivagent
                  </a>
                </div>
          </div>
        <!-- Logo -->
        <!-- Begin Menu -->
         <div id="menu-wrapper">
         <div class="iner">   
            <ul>
              <li><a href="/about/" class="selected">Про нас</a></li>
              <li><a href="/poslugi/">Послуги агенції</a></li>
              <li><a href="/">Пошук нерухомості</a></li>
              <li><a href="/karta/">Знайти на мапі</a></li>
              <li><a href="/contacts/">Контакти</a></li>
            </ul>
          </div>      
        <!-- End Menu -->
         </div>
      </div>
      <!-- End Header -->
    </div>
  </div>
  </div>
  <!-- End Header Wrapper -->

  <!-- End Wrapper -->
 
  <div class="text">
  <h2>Послуги агентсва</h2>
    <p>
Купівля, продаж і оренда нерухомості в Києві і передмісті
Вам необхідно купити, зняти, продати або здати в оренду квартиру? АН «Київське передмістя» має найбільшою на ринку базою даних об'єктів нерухомості, які продаються або здаються в оренду в м Києві.
Наша база даних поповнюється і оновлюється щодня, завдяки прямим зверненням клієнтів, ексклюзивними договорами з продавцями нерухомості, а також шляхом моніторингу спеціалізованих видань про нерухомість і всіх доступних баз об'єктів нерухомості.
Сьогодні в базі даних нашого агентства нерухомості: 21500 1-кімнатних, 2-кімнатних, 3-кімнатних, багатокімнатних квартир та апартаментів, які можна купити у Києві та передмісті; а також 11 204 варіантів квартир - від недорогих до елітних - здаються в оренду в центрі і різних районах столиці.</p>

     <h2>Будинки, котеджі, дачі, земельні ділянки в Києві та Київській області</h2>
    <p>
Бажаєте купити або зняти житло за містом? У структурі АН «Київське передмістя» працює спеціалізований відділ заміської нерухомості, фахівці якого завжди готові запропонувати Вам широкий вибір будинків, дач і котеджів, які можна купити або зняти в оренду в околицях Києва. Також до послуг клієнтів нашої компанії база даних пропозицій виставлених на продаж земельних ділянок у Києві або під Києвом.</p>

     <h2>Комерційна нерухомість</h2>
    <p>
Шукаєте вільне нежитлове приміщення? Ми були одними з перших, хто почав надавати професійні ріелторські послуги на ринку комерційної нерухомості Києва, і сьогодні висока кваліфікація і багаторічний досвід експертів агентства дозволяє забезпечити бездоганну якість і надійність наших послуг при проведенні різних операцій з будь-якими об'єктами нежитлового фонду столиці.
Невеликі і просторі офіси, приміщення під магазини, бари, кафе в центрі та інших районах Києва, складські, виробничі і торгові площі - в кожному конкретному випадку фахівці агентства нерухомості «Київське передмістя» допоможуть Вам підібрати і придбати, продати, зняти або здати в оренду даний об'єкт максимально швидко і за прийнятною ціною.</p>

     <h2>Експертна оцінка об'єктів нерухомості</h2>
    <p>
При здійсненні будь-якої угоди з нерухомістю вкрай важливо виробити правильну і актуальну оцінку об'єкта. Однак сам процес оцінки є виключно складним. По-перше, оцінювач зобов'язаний досконально орієнтуватися в поточній кон'юнктурі і тенденціях столичного ринку нерухомості в цілому. По-друге, він повинен уміти «побачити» і точно оцінити індивідуальні особливості кожного конкретного об'єкту нерухомості - ступінь зносу приміщення, вартість проведених поліпшень і безліч інших факторів. По-третє, добре орієнтуватися в сучасній законодавчій базі щодо оцінки та операцій з нерухомим майном, а також оперативно відстежувати всі зміни, що відбуваються.<br>
<span>Сертифікат суб'єкта оціночної діяльності №8737 / 09, дата видачі: 14 липня 2009 року.</span><br>
<span>Контактні телефони: (044) 537 7 липня; (050) 444 26 60</span>

</p>




  </div>

        





    




 <div class="clearfix"></div> 
  
  <div id="pushh">
    <div class="iner">
 
     <div class="fleft ">
          <a href="#" class="fleft logofoot"></a>
          <div class="fleft sepleft"></div>
         
                <div class="fleft footer-contacts">
                  <div class="title">Безкоштовна бронь</div>
             
                  <div class="phone">
                    <i></i>
                    <span>(098)</span> 233 70 00
                  </div>

                  <a href="#" class="order-call trans-opacity js_popup">Замовити зворотній двінок</a>
                  <a href="#" class="skype">
                    <i></i>Kyivagent</a>
               </div>

         <div class="fleft sepleft"></div>
           <div class="fleft footer-menu">
                <ul>
                  <li><a href="#">Для агенцій</a></li>
                  <li><a href="#">Для партнерів</a></li>
                  <li><a href="#">Як забронювати</a></li>
                  <li><a href="#">Публічна оферта</a></li>
                  <li><a href="#">Положення про конфеденційність</a></li>
                  <li><a href="#">Правила та умови</a></li>
                </ul>
            </div>

          <div class="fleft sepleft"></div>
            <div class="fleft footer-about">
                  <ul>
                    <li><a href="#">Про нас</a></li>
                    <li><a href="#">Контакти</a></li>
                    <li><a href="#">Знайти на мапі</a></li>
                  </ul>
                  <a href="#" class="soclink vk trans-opacity"></a>
                  <a href="#" class="soclink odno trans-opacity"></a>
                  <a href="#" class="soclink face trans-opacity"></a>
            </div>      
        </div>
    </div>
</div>






  <!-- Begin Footer -->
  <div id="footer-wrapper">
    <div id="footer">
      <div id="footer-content">
        <!-- Begin Copyright -->
        <div id="copyright">
          <p>Copyright &copy; Ivan Kozachok & Taya Loran & Dima Dzubiy</p>
        </div>
        <!-- End Copyright -->
        <!-- Begin Social Icons -->
            <div id="socials">
              <ul>
                <li><a href="#"><img src="/static/style/images/icon-rss.png" alt="" /></a></li>
                <li><a href="#"><img src="/static/style/images/icon-twitter.png" alt="" /></a></li>
                <li><a href="#"><img src="/static/style/images/icon-dribble.png" alt="" /></a></li>
                <li><a href="#"><img src="/static/style/images/icon-tumblr.png" alt="" /></a></li>
                <li><a href="#"><img src="/static/style/images/icon-flickr.png" alt="" /></a></li>
                <li><a href="#"><img src="/static/style/images/icon-facebook.png" alt="" /></a></li>
              </ul>
            </div>
        <!-- End Social Icons -->
      </div>
    </div>
  </div>
  <!-- End Footer -->
</div>
</body>
</html>