<!DOCTYPE HTML>
<html lang="en-US">
<head>
<title>Delphic</title>
<meta charset="UTF-8">
<link rel="stylesheet" type="text/css" href="/static/style.css" media="all" />
<link rel="stylesheet" type="text/css" href="/static/style/css/style_search.css" media="all" />
<!--[if IE 7]><link rel="stylesheet" type="text/css" href="/static/style/css/ie7.css" media="all" /><![endif]-->

</head>
<body>
<div id="container">
  <!-- Begin Header Wrapper -->
  <div id="page-top">
    <div id="header-wrapper">
      <!-- Begin Header -->
      <div class="header">
          <div id="header">
            <div id="logo"><a href="index.html"><img src="/static/style/images/logo().png" alt="" style="  margin-top: 17px;"  /></a></div>
                <div class="logo_text">
                  <h1> Продаж нерухомості</h1>
                  <h1> в Хмельницькому</h1>
                </div>

                <div class="header-contacts">
                  <span>Контакты</span> 
                  <div class="phone">
                    <i></i>
                    <span>(098)</span> 233 70 00
                  </div>
                  <a href="#" class="order-call trans-opacity js_popup">замовити зворотній дзвінок</a><br>
                  <a href="#" class="skype">
                    <i></i>Kyivagent
                  </a>
                </div>
          </div>
        <!-- Logo -->
        <!-- Begin Menu -->
         <div id="menu-wrapper">
         <div class="iner">   
            <ul>
              <li><a href="/about/" class="selected">Про нас</a></li>
              <li><a href="/poslugi/">Послуги агенції</a></li>
              <li><a href="/">Пошук нерухомості</a></li>
              <li><a href="/karta/">Знайти на мапі</a></li>
              <li><a href="/contacts/">Контакти</a></li>
            </ul>
          </div>      
        <!-- End Menu -->
         </div>
      </div>
      <!-- End Header -->
    </div>
  </div>
  </div>
  <!-- End Header Wrapper -->

  <!-- End Wrapper -->
 

<form id="filter_form" action="{% url 'filtration' %}" method="post">
  {% csrf_token %}
  <input style="display:none" type="text" name="type1" value="{{ type1 }}">
  <input style="display:none" type="text" name="type2" value="{{ type2 }}">
<div id="cont">
  <div class="cont">
    <div class="search">
        <span>Ціна:</span>
          від <input type="text" name="price_from"> 
          до <input type="text" name="price_to" style="margin-right: 30px;"> 
        
        <span>Площа:</span>
          від <input type="text" name="pl_from"> 
          до <input type="text" name="pl_to" style="margin-right: 30px;"> 
        
          <span>Кімнат:</span>
          від <input type="text" name="kimnat_from"> 
          до <input type="text" name="kimnat_to"> 

        
        
         <input type="submit" value="Пошук" style="  width: 72px;">
        
    </div>
  </form>
      {% for house in houses %}
    <div class="images">             

            <div class="one-fourth"><a href="{% url 'object' house.id %}"><img src="/static{{ house.images.first.image.url }}" alt="" /></a>
              

               <div class="cap">
               <p>{{ house.adress }}</p>
               <p>Ціна: {{ house.price }} </p>
               <p>Площа:{{ house.ploshcha }}  Кімнат:{{ house.room_count }}</p>
                </div>
            </div>
    </div> 
      {% endfor %}
    
  </div>   
</div>
</div> 


 <div class="clearfix"></div> 
   <div id="buttons">
       <div class="buttons">
        
        {% if houses.has_previous %}
         <button><a href="?page={{ houses.previous_page_number }}">Pevious</a> </button>
        {% endif %}
        
        {% if houses.has_next %}
        <button><a href="?page={{ houses.next_page_number }}">Next</a>  </button>
        {% endif %}
      </div>
    </div>
  <div id="push">
    <div class="iner">
 
     <div class="fleft ">
          <a href="#" class="fleft logofoot"></a>
          <div class="fleft sepleft"></div>
         
                <div class="fleft footer-contacts">
                  <div class="title">Безкоштовна бронь</div>
             
                  <div class="phone">
                    <i></i>
                    <span>(098)</span> 233 70 00
                  </div>

                  <a href="#" class="order-call trans-opacity js_popup">Замовити зворотній двінок</a>
                  <a href="#" class="skype">
                    <i></i>Kyivagent</a>
               </div>

         <div class="fleft sepleft"></div>
           <div class="fleft footer-menu">
                <ul>
                  <li><a href="#">Для агенцій</a></li>
                  <li><a href="#">Для партнерів</a></li>
                  <li><a href="#">Як забронювати</a></li>
                  <li><a href="#">Публічна оферта</a></li>
                  <li><a href="#">Положення про конфеденційність</a></li>
                  <li><a href="#">Правила та умови</a></li>
                </ul>
            </div>

          <div class="fleft sepleft"></div>
            <div class="fleft footer-about">
                  <ul>
                    <li><a href="#">Про нас</a></li>
                    <li><a href="#">Контакти</a></li>
                    <li><a href="#">Знайти на мапі</a></li>
                  </ul>
                  <a href="#" class="soclink vk trans-opacity"></a>
                  <a href="#" class="soclink odno trans-opacity"></a>
                  <a href="#" class="soclink face trans-opacity"></a>
            </div>
      
      </div>
    </div>







  <!-- Begin Footer -->
  <div id="footer-wrapper">
    <div id="footer">
      <div id="footer-content">
        <!-- Begin Copyright -->
        <div id="copyright">
          <p>Copyright &copy; Ivan Kozachok & Taya Loran & Dima Dzubiy</p>
        </div>
        <!-- End Copyright -->
        <!-- Begin Social Icons -->
            <div id="socials">
              <ul>
                <li><a href="#"><img src="/static/style/images/icon-rss.png" alt="" /></a></li>
                <li><a href="#"><img src="/static/style/images/icon-twitter.png" alt="" /></a></li>
                <li><a href="#"><img src="/static/style/images/icon-dribble.png" alt="" /></a></li>
                <li><a href="#"><img src="/static/style/images/icon-tumblr.png" alt="" /></a></li>
                <li><a href="#"><img src="/static/style/images/icon-flickr.png" alt="" /></a></li>
                <li><a href="#"><img src="/static/style/images/icon-facebook.png" alt="" /></a></li>
              </ul>
            </div>
        <!-- End Social Icons -->
      </div>
    </div>
  </div>
  <!-- End Footer -->
</div>
</body>
</html>